[submodule "tensacode/python"]
	path = tensacode/python
	url = https://github.com/TensaCo/tensacode-py.git
[submodule "tensacode/typescript"]
	path = tensacode/typescript
	url = https://github.com/TensaCo/tensacode-ts.git
[submodule "tensacode/csharp"]
	path = tensacode/csharp
	url = https://github.com/TensaCo/tensacode-csharp.git
[submodule "tensacode/java"]
	path = tensacode/java
	url = https://github.com/TensaCo/tensacode-java.git
[submodule "tensacode/cpp"]
	path = tensacode/cpp
	url = https://github.com/TensaCo/tensacode-cpp.git
[submodule "tensacode/dart"]
	path = tensacode/dart
	url = https://github.com/TensaCo/tensacode-dart.git
[submodule "tensacode/kotlin"]
	path = tensacode/kotlin
	url = https://github.com/TensaCo/tensacode-kotlin.git
[submodule "tensacode/swift"]
	path = tensacode/swift
	url = https://github.com/TensaCo/tensacode-swift.git
